.form {
    width: 80%;
    margin: 15% auto;
    padding: 5%;
}

.form input {
    display: block;
    width: 100%;
}

button {
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.user-area {
    width: 30%;
    margin: 15% auto;
    text-align: center;
}

h3 {
    padding: 5px;
    font-family: fantasy;
}

.user-area1 {
    width: 100%;
    text-align: center;
}