<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${self.title()}</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no" />
    <link href="/static/client/css/base.css" rel="stylesheet" />
    ${self.css()}
</head>
<body>
<%! from django.shortcuts import reverse %>
<header>️🐾🐆🐾🐾Leopard Video🐾🐆🐾</header>
<h2>Please <a href="${reverse('client_auth')}">Login</a> to watch videos.</h2>
<div class="base-content">
    ${self.content()}
</div>
<footer>
<ul>
    <li><a href="${reverse('client_ex_video')}"> 🐾 External Link </a></li>
    <li><a href="${reverse('client_cus_video')}"> 🐾 Inner Chain </a></li>
    <li><a href="${reverse('client_auth')}">🐾 My Info </a></li>
</ul>
</footer>
</body>
<script src="/static/dashboard/js/jquery-1.12.4.min.js"></script>
${self.js()}
</html>

<%def name="title()"></%def>
<%def name="js()"></%def>
<%def name="css()"></%def>
<%def name="content()"></%def>
